/* Create 2 Columns */
.row {
    display: flex;
}

#background {
    flex: 50%;
}

#form {
    flex: 50%;
}

/* Overlay Logo on Background */
.containerImg {
    position: relative;
    /* width: 960px; */
}

.blank {
    position: absolute;
    top: 320px;
    background-color: white;
    opacity: 0.1;
    width: 960px;
    height: 225px;
}
.logo {
    position: absolute;
    top: 330px;
    left: 150px;
    /* background-color: white; */
    /* opacity: 0.5; */
}

.logoText {
    font-size: 100px;
    position: absolute;
    top: 300px;
    left: 520px;
    /* background-color: white; */
    color: white;
    /* opacity: 0.5; */
}